/*==========
Layout
===========*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body,
html {
    height: 100%;
}
  
/*Logo*/
.page-title {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.page-title img {
    width: 50px;
}
  
.page-title p {
    color: white;
    text-align: center;
}

/*Navbar*/
.navbar {
    position: relative;
    max-width: 100%;
    background-image:url(./images/Activity/background.webp);
    height: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.nav-list {
    width: 100%;
    display: flex;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    justify-content: space-between;
    padding: 0 50px;
}
  
.nav-list a {
    padding: 20px 0;
}
  
.nav-list li,
.nav-list a {
    width: 100%;
    height: 100%;
}
  
.nav-list a {
    display: block;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: none;
    border-bottom: transparent 1px;
    color: beige;
}

.navbar a:hover{
    background-color: rgb(94, 107, 87);
}
  
/*Activities section*/
.container{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
}

/*Lists*/
ol{
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    position: relative;
    font-weight: bolder;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: -120px 10px

}

/*Activities links*/
.link{
    position:relative;
    font-family: 'Asap', sans-serif;
    border-bottom: 1px transparent;
    text-decoration: none;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0px 10px;
    font-style: oblique;
}

.link2{
    position:relative;
    font-family: 'Asap', sans-serif;
    border-bottom: 1px transparent;
    text-decoration: none;
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0px 10px;
    font-style: oblique;
}

/*Horizontal line*/
hr{
    margin: 20px 0;
}

/*Footer*/
footer{
    margin: 70px 0;
}

.social{
    display: flex;
}

.terms{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}


/*==========
   Colors
==========*/
html{
    background-color: rgba(230,202,191,255);
}
/*Navbar*/
.active{
    background-color: rgb(214, 112, 16);
}

/*Footer*/
footer{
    background-color: rgb(81, 81, 175);
}


/*================
    Typography
================*/

/*Title*/
.main-title {
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(180, 209, 16);
}

/*Headings*/
h2{
    font-family: 'Asap', sans-serif;
    font-size: 40px;
    margin: 30px 10px 10px 5px;
}

/*Paragraphs*/
.main-para{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: bolder;
    margin-top: 50px;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: bolder;
    margin: 0 10px;
    grid-column: 2/3;
    grid-row: 1/2;
}


/*===============
     Images
================*/  

/*Main images*/
.main-img{
    width: 400px;
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0px 10px;
    
}

/*Socila media icons*/
.social img{
    width: 50px;
    margin: 10px 10px;
}


/*==================
     Media queries
===================*/     

@media (max-width:900px) {

    .main-title {
        position: absolute;
        font-size: 50px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    

    /*Navbar*/
    .nav-list{
        flex-direction: column;
        margin: 0;
        padding: 0;   
        position: relative;
        width: 100%;
    }


    /*Paragraphs*/ 
    p, .main-para{
        font-size: medium;
    }

    
    /*Headings*/
    h2{
        font-family: 'Asap', sans-serif;
        font-size: 40px;
        text-align: center;
        margin: 5px 0;
        padding-top: 80px ;
    }
     
    /*Articles section*/
    .container{
        display: flex;
        flex-direction: column;
    }
 
    /*Activities link*/
    .link{
        padding-top: 120px;
    }

    /*Lists*/
    ol{
        padding-top: 150px;
    }

    ol li{
        font-size: medium;
    }

    /*Footer*/
    .social{
        display: flex;
        justify-content: space-between;
    }  
}    